.env
credentials.json
__pycache__/
hsl/
checkpoints/
logs/
*.docx
shared_logic.zip
terraforms/.terraform/
terraforms/.terraform.lock.hcl
terraforms/terraform.tfstate
terraforms/terraform.tfstate.backup
*.txt