# Hiding sensitive files 
.env
credentials.json

# Ignoring Python cache and logs
__pycache__/
checkpoints/
logs/

# Ignoring Terraform state files and lock files
terraforms/shared_logic.zip
terraforms/.terraform/
terraforms/.terraform.lock.hcl
terraforms/terraform.tfstate
terraforms/terraform.tfstate.backup

# Ignoring any text files
*.txt

# Ignoring any zip files
*.zip

# Ignoring frontend dependency and build artifacts
node_modules/
.next/
.npm-cache/
