# Backend configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_KEY_PATTERN=bus:*
PROJECT_ID=hsl-bus-streaming-495014
DATASET_ID=bus_analytics
CORS_ALLOW_ORIGINS=http://localhost:3000

# Frontend configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000